
CVAiO.Bplus.ByUser/CVAiO.Bplus.Algorithm.Controls/obj
CVAiO.Bplus.ByUser/CVAiO.Bplus.ToolByUser/obj
CVAiO.Bplus.ByUser/CVAiO.Bplus.Algorithm/obj
CVAiO.Bplus.ByUser/CVAiO.Bplus.ToolByUser.Controls/obj
CVAiO.Bplus.Camera/CVAiO.Bplus.Camera.ByUser/obj
CVAiO.Bplus.Cognex/CVAiO.Bplus.CogByUser.Controls/obj
CVAiO.Bplus.Cognex/CVAiO.Bplus.CogByUser/obj
CVAiO.Bplus.GUI/CVAiO.Bplus.GUI.ByUser/obj
CVAiO.Bplus.Halcon/CVAiO.Bplus.HByUser.Controls/obj
CVAiO.Bplus.Halcon/CVAiO.Bplus.HByUser/obj
CVAiO.Bplus.Interface/CVAiO.Bplus.Interface.ByUser/obj
CVAiO.Bplus.Lighting/obj
CVAiO.Bplus.Simulator/obj
CVAiO.Bplus/obj
CVAiO.Bplus.Cognex/CVAiO.Bplus.CogByUser.Controls/obj
CVAiO.Bplus.Cognex/CVAiO.Bplus.CogByUser/obj
Debug
Release
.vs/
.vs/CVAiO.Bplus/v16/.suo
